.wrapper{
    margin-top: 45px;
}
.person__name{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--color-violet);
    border-radius:3px 3px 3px 0px ;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-left: 5px solid var(--color-violet);
    border-radius:3px 3px 3px 0px ; 
}
.back{
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    font-weight: 600;
    color: rgb(253, 253, 1);
    text-decoration: none;
    cursor: pointer;
}
.back__img{
    width: 30xp;
    height: 30px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center center;
    
}
.back__button{

}
