.text{
    color: #c9d0d4; 
    font-family: ‘Helvetica Neue’, sans-serif;
 font-size: 46px;
  font-weight: 100; 
  line-height: 50px;
   letter-spacing: 1px;
     
     text-align: center;
     margin: auto;
     text-shadow: var(--text-shadow-blue);
     margin-top: 150px;
}